<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  
    </script>  
    <title>Home</title>

</head>
<body>
    <div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for s in student %}
                <tr>
                    <td><a href="/{{ s.id }}/">{{s.firstname}}</a></td>
                    <td>{{s.lastname}}</td>
                    <td>{{s.email}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="/create"><button class="btn btn-outline-secondary">Add Student</button></a></td>
            </tr>

            <tr>
                <td><a href="/fileupload"><button class="btn btn-outline-primary">Add Data</button></a></td>
            </tr>

            <tr>
                <td><a href="/bulk-file-upload"><button class="btn btn-outline-info">Add Bulk Data</button></a></td>
            </tr>
        </tbody>
    </table>

   
    {% if messages %}
    {% for message in messages %}
    <p class='alert alert-success' role='alert'>{{message}}</p>
    {% endfor %}
 {% endif %}



    
</body>
</html>